.vscode/**
.vscode-test/**
src/**
node_modules/**
esbuild.js
tsconfig.json
**/*.ts
**/*.map
**/.DS_Store
.gitignore
media/font-src/**
media/icon.svg
media/icon.png
media/devvault-glyph.svg
media/devvault-icons.json
